balance_env/
.env
.idea/
nutrition_log/migrations/
__pycache__/
*.sqlite3
# only ignore root static directory, not static directory for individual apps
/static/
.vscode/
workout_designer/migrations/
workout_log/migrations/
