<!-- Daily page for the Nutrition Log app -->
{% extends 'nutrition_log/base.html' %}

{% block subcontent %}
    <h1>My Nutrition Log</h1>
    <h2>Daily View</h2>

 
    <p>{{ date }}</p>

    <!-- Date picker -->
    <form action="{% url 'nutrition_log:daily' %}" method="get">
        <label for="dateInput">Select a Date:</label>
        <input type="date" id="dateInput" name="selectedDate">
        <br>
        <input type="submit" value="Submit">
    </form>

    <h3>Body weight</h3>
    <p><span id="dailyWeightLabel">{{ daily_weight }}</span> lbs</p>
    <p><a href="{% url 'nutrition_log:set_weight' date.year date.month date.day %}">Set weight</a></p>
    
    <hr>

    <h3>Food</h3>
    <p><span id="totalCaloriesLabel">{{ total_calories }}</span> Calories</p>
    <p><span id="totalProteinLabel">{{ total_protein }}</span>g Protein</p>
    <ul>
        {% for lfi, lfi_string in logged_food_items %}
        <li>
            {{ lfi_string }} | 
            <a href="{% url 'nutrition_log:edit_logged_food_item' lfi.id %}">edit</a> | 
            <a href="{% url 'nutrition_log:delete_logged_food_item' lfi.id %}">rm</a>
        </li>
        {% endfor %}
    </ul>

    <a href="{% url 'nutrition_log:log_food_item' %}">Log food item</a>
{% endblock subcontent %}
