<!-- Daily page for the Nutrition Log app -->
{% extends 'nutrition_log/base.html' %}

{% block subcontent %}
    <h1>My Nutrition Log</h1>
    <h2>Daily View</h2>

 
    <p>{{ date }}</p>

    <!-- Date picker -->
    <form action="{% url 'nutrition_log:daily' %}" method="get">
        <label for="dateInput">Select a Date:</label>
        <input type="date" id="dateInput" name="selectedDate">
        <br>
        <input type="submit" value="Submit">
    </form>

    <h3>Body weight</h3>
    <p><span id="dailyWeightLabel">{{ daily_weight }}</span> lbs</p>
    <p><a href="{% url 'nutrition_log:set_weight' %}">Set weight</a></p>
    
    <hr>

    <h3>Food</h3>
    <p><span id="totalCaloriesLabel">{{ total_calories }}</span> Calories</p>
    <p><span id="totalProteinLabel">{{ total_protein }}</span>g Protein</p>
    <ul>
        {% for lfi in logged_food_items %}
        <li>
            {{ lfi }}
        </li>
        {% empty %}
        <p>You haven't logged anything for {{ date }}.</p>
        {% endfor %}
    </ul>

    <h4>Breakfast</h4>
    <table id="breakfast"></table>
    <a href="{% url 'nutrition_log:log_food_item' %}">Add item</a>
    <h4>Lunch</h4>
    <table id="lunch"></table>
    <a>Add item</a>
    <h4>Dinner</h4>
    <table id="dinner"></table>
    <a>Add item</a>
    <h4>Snacks</h4>
    <table id="snacks"></table>
    <a>Add item</a>
{% endblock subcontent %}
