<!-- Weekly page for the Nutrition Log app -->
{% extends 'nutrition_log/base.html' %}

{% block subcontent %}
    <h1>My Nutrition Log</h1>
    <h2>Progress Table</h2>

    <form action="{% url 'nutrition_log:filter_progress_table' %}" method="get">
        <label for="startDateInput">Start Date:</label>
        <input type="date" id="startDateInput" name="startDate">
        <br>
        <label for="endDateInput">End Date:</label>
        <input type="date" id="endDateInput" name="endDate">
        <br>
        <input type="submit" value="Submit">
    </form>

    <hr>

    {% if alert %}
        <p>{{ alert }}</p>
    {% else %}
        <table>
            <tr>
                <th>Date</th>
                <th>WT</th>
                <th>Cal</th>
            </tr>
            {% for date in dates %}
            <tr>
                <td>{{ date }}</td>
                {% for daily_weight in daily_weights %}
                    {% if daily_weight.date == date %}
                        <td>{{ daily_weight.weight }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        <p>Average WT: {{ avgWt }}</p>
    {% endif %}
    
{% endblock subcontent %}
