<!-- Weekly page for the Nutrition Log app -->
{% extends 'nutrition_log/base.html' %}

{% block subcontent %}
    <h1>My Nutrition Log</h1>
    <h2>Weekly</h2>

    <table>
        <tr>
            <th>Date</th>
            <th>WT</th>
            <th>Cal</th>
        </tr>
        {% for date in dates %}
        <tr>
            <td>{{ date }}</td>
            {% for daily_weight in daily_weights %}
                {% if daily_weight.date == date %}
                    <td>{{ daily_weight.weight }}</td>
                {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </table>

    <p>Average WT: {{ avgWt }}</p>
{% endblock subcontent %}
