<!--
Base template for the Workout Log app
Inherit from overall base template, and define a Workout Log navbar with
links to the daily, volume, journal, and char views.
-->

{% extends 'commons/base.html' %}

{% block title %}
    Workout Log
{% endblock title %}

{% block content %}
  <p>
    <strong>Views: </strong>
    <a href="{% url 'workout_log:index' %}">Daily</a> -
    <a href="{% url 'workout_log:volume' %}">Volume</a> -
    <a href="#">Journal</a> -
    <a href="{% url 'workout_log:charts' %}">Charts</a>
  </p>

  <!-- Content of children -->
  {% block subcontent %}{% endblock subcontent %}
{% endblock content %}