<!-- Home page for the Workout Log app -->

{% extends 'workout_log/base.html' %}
{% load static %}

{% block subcontent %}
    <h1>My Workout Log</h1>
    <h2>Daily View</h2>

    <form action="javascript:setDate(date.value)">
        Enter a date:
        <input type="date" id="date">
        <input type="submit" value="Submit">
    </form>

    <p>
        <button type="button" onclick="decDate()">&lt</button>
        <!-- date label's text is initialized dynamically by JS -->
        <span id="date-label" style="font-family: monospace; font-size: 2em;"></span>
        <button type="button" onclick="incDate()">&gt</button>
    </p>

    <!-- exercise list populated dynamically by JS -->
    <ul id="exercise-list"></ul>


    <a href="{% url 'workout_log:new_set' 0 %}">
        Add a new set
    </a>

{% endblock subcontent %}

{% block scripts %}
    <script>
        // when parsing JSON objects, the encoded quotes need to be replaced with
        //  regular quotes
        // data = list of user's sets as an array of JSON objects
        let data = JSON.parse("{{data}}".replace(/&quot;/g,'"'));

        // exercises = list of exercises as an array of JSON objects
        let exercises = JSON.parse("{{exercises}}".replace(/&quot;/g,'"'));

        // initialize dateLabel's text when this script loads
        let dateLabel = document.getElementById("date-label");
        let today = new Date();
        today.setHours(0, 0, 0, 0);  // need to remove time part.
        dateLabel.innerHTML = today.toDateString();
        filterExercisesByDate(today);

        
        function decDate() {
            let date = new Date(dateLabel.innerHTML);
            let newDate = new Date(date.getFullYear(), date.getMonth(), date.getDate() - 1);
            dateLabel.innerHTML = newDate.toDateString();
            filterExercisesByDate(newDate);
        }


        function incDate() {
            let date = new Date(dateLabel.innerHTML);
            let newDate = new Date(date.getFullYear(), date.getMonth(), date.getDate() + 1);
            dateLabel.innerHTML = newDate.toDateString();
            filterExercisesByDate(newDate);
        }


        function setDate(dateString) {
            // given a dateString ("yyyy-mm-dd"), filter the exercise list to match
            // the date.
            // unfortunately, constructing a date directly from dateString results in 
            //  the day being off by one. Deconstructing the string works fine.
            let parts = dateString.split("-");
            let y = Number(parts[0]);
            let m = Number(parts[1]) - 1;
            let d = Number(parts[2]);
            let newDate = new Date(y, m, d);
            dateLabel.innerHTML = newDate.toDateString();
            filterExercisesByDate(newDate);
        }


        function filterExercisesByDate(date) {
            let exerciseList = document.getElementById("exercise-list");
            removeAllChildNodes(exerciseList);

            for (let i=0; i<data.length; i++) {
                // Python and JavaScript's date objects are off by one
                let set = data[i];
                let dateOfSet = new Date(set["fields"]["date"]);
                dateOfSet.setDate(dateOfSet.getDate() + 1);

                // compare date strings so time doesn't get compared.
                if (dateOfSet.toDateString() == date.toDateString()) {
                    let newLi = document.createElement("li");
                    newLi.innerHTML = parseJSONSet(set);;
                    exerciseList.appendChild(newLi);
                }
            }
        }


        function removeAllChildNodes(parentNode) {
            while (parentNode.firstChild) {
                parentNode.removeChild(parentNode.firstChild);
            }
        }


        function parseJSONSet(set) {
            // given a set as a JSON object, convert it to a string so it can be displayed.
            let fields = set["fields"];
            // convert exercise PK to exercise name
            let exercise = getExerciseName(fields["exercise"]);
            let reps = fields["reps"];
            let weight = fields["weight"];
            return `${exercise}: ${reps} at ${weight} lbs`;
        }


        function getExerciseName(exerciseId) {
            for (let i=0; i<exercises.length; i++) {
                let exercise = exercises[i];
                if (exercise["pk"] == exerciseId) {
                    return exercise["fields"]["name"];
                }
            }
        }

    </script>
{% endblock scripts %}
