<!-- Home page for the Workout Log app -->

{% extends 'workout_log/base.html' %}
{% load static %}

{% block subcontent %}
    <h1>My Workout Log</h1>
    <h2>Daily View</h2>

    <p>{{ date }}</p>

    <!-- Date picker -->
    <form action="{% url 'workout_log:index' %}" method="get">
        <label for="dateInput">Select a Date:</label>
        <input type="date" id="dateInput" name="selectedDate">
        <br>
        <input type="submit" value="Submit">
    </form>

    <!-- exercise list populated dynamically by JS -->
    <ul id="exercise-list"></ul>

    <ul>
        {% for set in sets %}
            <li>
                {{ set.exercise }}, {{ set.reps}} reps at {{ set.weight }} lbs |
                <a href="{% url 'workout_log:edit_set' set.id %}">edit</a> |
                <a href="{% url 'workout_log:delete_set' set.id %}">rm</a>
            </li>
        {% empty %}
            <p>You haven't logged anything for {{ date }}.</p>
        {% endfor %}
    </ul>


    <a href="{% url 'workout_log:new_set' 0 date.year date.month date.day %}">
        Add a new set
    </a>

{% endblock subcontent %}
