<!--
This form is where the user enters their fitness goals 
and needs (ex time constraints), and they receive a custom
workout.
-->

{% extends 'workout_designer/base.html' %}

{% block subcontent %}
    <h1>Workout Designer</h1>

    <p>
        Fill out this form to get a balanced workout plan,
        tailored to your needs and goals.
    </p>
    <form action="{% url 'workout_designer:create_workout' %}" method="post">
        {% csrf_token %}

        <fieldset>
            <legend>*Preferred schedule?</legend>
            <label for="sync">Synchronous</label>
            <input type="radio" id="sync" name="schedule" value="sync" required><br>
            <label for="async">Asynchronous</label>
            <input type="radio" id="async" name="schedule" value="async" required>
        </fieldset>

        <fieldset>
            <legend>How long are you willing to spend on each workout?</legend>
            <label>Upper limit: </label>
            <input type="number" name="upperLimitHrs"><label>hrs</label>
            <input type="number" name="upperLimitMin"><label>min</label>
            <br>
            
            <label>Lower limit: </label>
            <input type="number" name="lowerLimitHrs"><label>hrs</label>
            <input type="number" name="lowerLimitMin"><label>min</label>
        </fieldset>

        <fieldset>
            <legend>*Which best describes your motivation for working out?</legend>
            <label for="muscle">Serious about gaining muscle</label>
            <input type="radio" id="muscle" name="goal" value="muscle" required><br>
            <label for="fit">Looking to get or stay in shape</label>
            <input type="radio" id="fit" name="goal" value="fit" required>
        </fieldset>

        <fieldset>
            <legend>Preferred split?</legend>
            <label id="anything">Anything</label>
            <input type="radio" id="anything" name="split" value="anything" checked="checked"><br>
            <label id="arnold">Arnold</label>
            <input type="radio" id="arnold" name="split" value="arnold"><br>
            <label id="bro">Bro</label>
            <input type="radio" id="bro" name="split" value="bro"><br>
            <label for="ppl">Push-Pull-Legs</label>
            <input type="radio" id="ppl" name="split" value="ppl"><br>
            <label for="ul">Upper-Lower</label>
            <input type="radio" id="ul" name="split" value="ul">
        </fieldset><br>

        <input type="submit" value="Submit">
    </form>
{% endblock subcontent %}