<!--
Index page for the Workout Designer app
Eventually this page will list all the workouts the user has created
-->

{% extends 'workout_designer/base.html' %}

{% block subcontent %}
    <h1>Workout Designer</h1>
    <h2>My Routines</h2>

    <ul>
        {% for routine, days in routine_dict.items %}
            <li>{{ routine }}</li>
            {% for day, planned_sets in days.items %}
                <ul>
                    <li>{{ day }}</li>
                    {% for instance in planned_sets %}
                        <ul>
                            <li>{{ instance }}</li>
                        </ul>
                    {% empty %}
                    {% endfor %}
                </ul>
            {% endfor %} 
        {% endfor %}
    </ul>
{% endblock subcontent %}