<!--
Page for viewing a particular routine in the Workout Designer app
-->

{% extends 'workout_designer/base.html' %}

{% block subcontent %}
    <h1>Workout Designer</h1>
    <h2>{{ routine }}</h2>
    <p>
        Upper limit: {{routine.upper_limit_min}} min.<br>
        Lower limit: {{routine.lower_limit_min}} min.<br>
        Created on: {{routine.datetime_created}}
    </p>

    <ul>
        {% for day_name, list_of_sets in routine_dict.items %}
            <li>{{ day_name }}</li>
            <ul>
                {% for sets in list_of_sets %}
                    <li>{{sets}}</li>
                {% endfor %}
            </ul>
        {% endfor %}
    </ul>
    
    <a href="{% url 'workout_designer:delete_routine' routine.id %}">Delete this routine</a>
{% endblock subcontent %}